
@font-face {
  	font-family: 'Playfair';
  	font-style: normal;
  	font-weight: 400;
  	src: url(../fonts/playfair-display-v14-latin/playfair-display-v14-latin-regular.woff) format('woff'),
  		url(../fonts/playfair-display-v14-latin/playfair-display-v14-latin-regular.woff2) format('woff2');
}
@font-face {
	font-style: normal;
	font-weight: normal;
  	font-family: 'Lato-reg';
  	src: url(../fonts/Lato/lato-regular-webfont.woff) format('woff'),
  		url(../fonts/Lato/lato-regular-webfont.woff2) format('woff2');
  	}
 @font-face {
 	font-family: 'Lato-light';
 	font-style: normal;
	font-weight: lighter; 	
  	src: url(../fonts/Lato/lato-light-webfont.woff) format('woff'),
  		url(../fonts/Lato/lato-light-webfont.woff2) format('woff2');
  	}
 @font-face {
 	font-family: 'Lato-bold';
	font-style: normal;
	font-weight: bold;
  	src: url(../fonts/Lato/lato-bold-webfont.woff) format('woff'),
  		url(../fonts/Lato/lato-bold-webfont.woff2) format('woff2');	
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
/*	transition: all .4s ease-in-out;
*/}

html {
	font-size: 10px;
}
body {
	padding: 128px 100px;
	background-color: #fff;
	color: #7a7a7a;
}
.container {
	box-shadow: 0 0 40px 2px #f4f4f4;
}
.wrapper {
	width: 80%;
	margin: 0 auto;
	padding: 140px 0 120px 0;
}
h1,
.letter {
	color: #434343;
}
h1 {
	font-family: 'Playfair', sans-serif;
	font-size: 4.2rem;
	margin-bottom: 35px;
}
p {
	font-family: 'Lato-light', sans-serif;
/*	font-weight: 300;
*/	font-size: 1.8rem;
	word-wrap: break-word;
}
.middle-p {
	margin: 30px 0 30px 0;
}
.last-p {
	margin-bottom: 24px;

}
.first-paragraff {
	width: 100%;
}
.letter {
	font-size: 11.1rem;
	width: 10%;
	display: inline;
	vertical-align: top;
	overflow: hidden;
}
.first-paragraff>p {
	width: 89%;
	display: inline-block;
}
blockquote {
	display: inline-block;
	width: 100%;
	font-family: 'Lato', sans-serif;
	font-size: 2.4rem;
	font-weight: lighter;
	font-family: 'Lato-light', sans-serif;
	font-style: italic;
}
blockquote span {
	font-size: 30px;
	margin-right: 20px;
}
button {
	font-family: 'Lato-bold', sans-serif;
	/*font-weight: bold;*/
	display: inline-block;
	text-align: center;
	padding: 22px 73px;
	background-color: inherit;
	font-size: 1.8rem;
	color: #eaa258;
	border: 2px solid #eaa258;
	margin-top: 38px;
	cursor: pointer; 
}


