
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,700');

@font-face {
  	font-family: 'Playfair';
  	font-style: normal;
  	font-weight: 400;
  	src: url(../fonts/playfair-display-v14-latin/playfair-display-v14-latin-regular.woff) format('woff'),
  		url(../fonts/playfair-display-v14-latin/playfair-display-v14-latin-regular.woff2) format('woff2');
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 10px;
}
body {
	padding: 5% 9%;
	background-color: #fff;
	color: #aeaeae;
	font-family: 'Lato', sans-serif;
	font-weight: lighter;

}
.container {
	box-shadow: 0 0 30px 20px #f4f4f4;
}
.wrapper {
	width: 75%;
	margin: 0 auto;
	padding: 9rem 0;
}
h1 {
	font-family: 'Playfair', sans-serif;
	font-size: 4.2rem;
	margin-bottom: 35px;
	color: #434343;
}
p {
	font-size: 1.8rem;
	word-wrap: break-word;
	line-height: 3rem;
	word-spacing: 4px;
}
.middle-p {
	margin: 30px 0;
}
.last-p {
	margin-bottom: 24px;
}
.first-paragraff {
	width: 100%;
}
.first-paragraff .letter {
	font-family: 'Playfair', sans-serif;
	font-size: 10rem;
	color: #434343;
	float: left;
	position: relative;
	bottom: 30px;
	padding-right: 40px;
	height: 72px;
}
blockquote {
	display: inline-block;
	width: 100%;
	font-size: 2.4rem;
	font-weight: lighter;
	font-family: 'Lato', sans-serif;
	font-style: italic;
	word-spacing: .4rem;
	font-weight: light;
}
blockquote span {
	font-size: 60px;
	margin-right: 30px;
	color: #434343;
}
button {
	font-family: 'Lato', sans-serif;
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;
	padding: 20px 65px;
	background-color: inherit;
	font-size: 2rem;
	color: #eaa258;
	border: 2px solid #eaa258;
	margin-top: 38px;
	cursor: pointer;
	letter-spacing: .4rem;
	transition: all .3s ease-in-out;
 
}
button:hover,
button:active {
	background-color: #eaa258;
	color: #fff;
}


